body {
    border-top: 8px solid var(--cor-padrao);
    border-left: 8px solid var(--cor-padrao);
    border-right: 8px solid var(--cor-padrao);
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-branca);
    background: var(--cor-padrao);
    font-size: 11px;
    font-weight: 600;
    height: 45px;
    width: 100%;
}

.feito__por {
    display: flex;
    justify-items: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.feito__por p {
    margin-right: 3px;
}
.feito__por img{
    width: 12px;
    margin-right: 1px;
}

.feito__por a {
    text-decoration: none;
    color: var(--cor-branca);
}

.credito__ftm {
    display: flex;
    align-items: center;
    justify-items: space-between;
    justify-content: center;
    gap: 2px;
}

.credito__ftm a {
    color: var(--cor-branca);
    text-decoration: none
}

.credito__ftm p{
    margin-right: 1px;
}

@media screen and (max-width: 600px){
    body{
        border-top: 4px solid var(--cor-padrao);
        border-left: 4px solid var(--cor-padrao);
        border-right: 4px solid var(--cor-padrao);
    }
}

@media screen and (max-width: 400px){
    body{
        border-top: 1px solid var(--cor-padrao);
        border-left: 1px solid var(--cor-padrao);
        border-right: 1px solid var(--cor-padrao);
    }

    .rodape {
        font-size: 10px;
        height: 37px;
    }
}

