.mesa__container {
    display: flex;  
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.mesa__container::before{
    position: absolute;
    background-color: antiquewhite;
}

.espaco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.espaco_cartas {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: auto;
}

.espaco_cartas.F {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.espaco_cartas.M {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.espaco_cartas.D {
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(3, auto);
}

.espaco_end_game{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.espaco_img_album {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.espaco_img_album img {
    width: 65%;
    height: 90%;
}

.espaco_link_album {
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 12px;
    overflow: hidden;
    transition: 3s ease;
    opacity: 0;
    transform: translateY(100px);
}

.espaco_link_album img{
    width: 22px;
    filter: invert(88%) sepia(86%) saturate(356%) hue-rotate(317deg) brightness(91%) contrast(89%);
}

.espaco_end_game:hover .espaco_img_album {
    opacity: 50%;
}

.espaco_end_game:hover .espaco_link_album {
    opacity: 100%;
    transform: translateY(-1px);
}